$theme-colors: (
    'primary': #0091ea //Covalence Blue!  :D
);

.nextOilChange {
    margin-right: 2.6rem!important;
}
.nextTireMaintenance {
    margin-right: -3rem!important;
}
.brakePadsRear {
    margin-top: 4.5em!important;
}
.brakeRoutersFront {
    margin-top: 4em!important;
}
.brakeRoutersRear {
    margin-top: 4.5em!important;
}
.brakeCalipers {
    margin-top: 4em!important;
}
.brakeDrums {
    margin-top: 4.5em!important;
}
.brakeHoses {
    margin-top: 5em!important;
}
.brakeLine {
    margin-top: 4.5em!important;
}
.oilChange {
    border:solid black!important;
    border-radius: 4px!important;
    border-radius: 4px!important;
    margin-bottom: 4px;
    box-shadow: 0 0 10px;
    background-image: -webkit-linear-gradient(top, #35b0c6 0%, #0091EA 100%);
    background-image: -moz-linear-gradient(top, #35b0c6 0%, #0091EA 100%);
    background-image: -ms-linear-gradient(top, #35b0c6 0%, #0091EA 100%);
    background-image: -o-linear-gradient(top, #35b0c6 0%, #0091EA 100%);
    background-image: linear-gradient(top, #35b0c6 0%, #0091EA 100%);
}
.brakesChange {
    border:solid black!important;
    border-radius: 4px!important;
    border-radius: 4px!important;
    margin-bottom: 4px;
    box-shadow: 0 0 10px;
}
.batteryChange {
    border:solid black!important;
    border-radius: 4px!important;
    border-radius: 4px!important;
    margin-bottom: 4px;
    box-shadow: 0 0 10px;
}
.tireChange {
    border:solid black!important;
    border-radius: 4px!important;
    border-radius: 4px!important;
    margin-bottom: 8px;
    box-shadow: 0 0 10px;
}

.jumbotron {
background-color: #FF0000;
}


@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.dropdown-toggle:after { content: none }